@font-face {
  font-family: "DIN Next LT Arabic";
  font-display: swap;
  src: url("../fonts/DIN-Next-LT-Arabic/DINNextLTArabic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DIN Next LT Arabic";
  font-display: swap;
  src: url("../fonts/DIN-Next-LT-Arabic/DINNextLTArabic-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DIN Next LT Arabic";
  font-display: swap;
  src: url("../fonts/DIN-Next-LT-Arabic/DINNextLTArabic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ghanem";
  font-display: swap;
  src: url("../fonts/Ghanem/ghanem.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ghanem";
  font-display: swap;
  src: url("../fonts/Ghanem/ghanem-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ghanem";
  font-display: swap;
  src: url("../fonts/Ghanem/ghanem-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}