@import "tailwindcss";

@theme {
  --main-font: "DIN Next LT Arabic";
  --header-fonts: "Ghanem", sans-serif;

  /* Brand Colors */
  --color-primary: #016938; /* Green/500 */
  --color-primary-dark: #004525; /* Green/600 */
  --color-secondary: #f17c2d; /* Orange/500 */
  --color-green-300: #e4eae1; /* Neutral Colors */
  --color-green-400: #c5d7bd; /* Neutral Colors */
  --color-green-600: #004525; /* Neutral Colors */
  --color-natural-100: #ffffff;
  --color-natural-300: #f4f4f4;
  --color-natural-500: #8d8d8d;
  --color-natural-700: #323232;
  --color-natural-800: #0e0e0e;
  --color-orange-300: #fef7f2;
  --color-orange-500: #f17c2d;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-natural-100);
  color: var(--color-natural-800);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ghanem";
}

/* Custom Utilities */
.hero-overlay {
  background: linear-gradient(
    0deg,
    rgba(1, 105, 56, 0.8),
    rgba(1, 105, 56, 0.8)
  );
}
@layer base {
  .iti {
    width: 100%;
    .iti__country-list {
      left: 0;
      width: 300px;
      @media screen and (min-width: 1024px) {
        width: 472px;
      }
      @media screen and (min-width: 1280px) {
        width: 576px;
      }
    }
  }
  .container {
    @apply px-4!;
  }
  button {
    @apply cursor-pointer;
  }
  .header-line {
    @apply w-px h-[87px] bg-natural-100 rounded-full ml-4 hidden lg:block relative;
    &::after,
    &::before {
      @apply content-[''] size-2 bg-natural-100 rounded-full absolute left-1/2 -translate-x-1/2;
    }
    &::before {
      @apply top-full;
    }
    &::after {
      @apply bottom-full;
    }
  }

  /* Prevent CLS for JS-hidden elements */
  @media (max-width: 1023px) {
    [data-hide-mobile] {
      display: none !important;
    }
  }
}
